/************************************* dark theme *************************************/

.dark-theme  {
    display: flex;
    background-color: #202124;
}

.text-light  {
    font-family: Lato,Helvetica,Arial,sans-serif;
    color: #D6D6D7;
}

.centered  {
    display: block;
    padding: 2.5% 7.5% 5%;
}

.text-center  {
    text-align: center;
}

.heading-larger {
    font-size: 2em;
}

.margin-spacing  {
    margin: 5.5% 0%;
}

hr {
    border: none;
    border-top: 2px double #D6D6D7;
    color: #D6D6D7;
    overflow: visible;
    text-align: center;
    height: 5px;
}

/*************************************about*************************************/

.about-component  {
    display: flex;
    flex-direction: row;
}

.about-component-frontend  {
    display: flex;
    flex-direction: column;
    justify-content: start;
    flex-grow: 1;
    align-items: center;
    order: 1;  
}

.about-component-cms  {
    display: flex;
    flex-direction: column;
    justify-content: start;
    flex-grow: 1;
    align-items: center;
    order: 3;
}

.about-component-ecommerce  {
    display: flex;
    flex-direction: column;
    justify-content: start;
    flex-grow: 1;
    align-items: center;
    order: 2;
}

.about-img  {
    height: 300px;
    border-radius: 10%;
    align-self: center;
}

.about-header  {
    font-size: 1.2rem;
    text-align: center;
    width: 80%;
}

.about-text  {
    font-size: 1rem;
    text-align: center;
    width: 80%;
}

/************************************* projects *************************************/

.project-img-small  {
    height: 200px;
}

.project-img-large  {
    height: 350px;
}

.projects-component  {
    display: flex;
    flex-direction: column;
}

.project-babue  {
    display: flex;
}

.project-cfgi  {
    display: flex;
}

.project-header a  {
    font-size: 1.4em;
    text-decoration: none;
    color: #D6D6D7;
    margin-left: 7.5%;
}

.project-header a:hover  {
    font-size: 1.5em;
}

.project-text  {
    margin-left: 7.5%;
}

.third-line {
   width: 33.3%;
}

/************************************* media queries *************************************/

@media screen and (max-width: 600px) {
    .about-component  {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .projects-component  {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .text-light  {
        font-family: Lato,Helvetica,Arial,sans-serif;
        color: #D6D6D7;
        font-size: 1.6rem;
    }

    .heading-larger {
        font-size: 2.4rem;
    }

    .project-img  {
        height: 350px;
    }

    .project-babue  {
        display: flex;
        flex-direction: column;
    }
    
    .project-cfgi  {
        display: flex;
        flex-direction: column;
    }

   
  }