/************************************* dark theme *************************************/

.dark-theme  {
    background-color: #202124;
}

.text-light  {
    font-family: Lato,Helvetica,Arial,sans-serif;
    color: #D6D6D7;
    margin-left: 5px;
}

.centered  {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.text-center  {
    text-align: center;
}

.heading-larger {
    font-size: 2em;
}

.margin-spacing  {
    margin: 2.5% 0%;
}

hr {
    border: none;
    border-top: 2px double #D6D6D7;
    color: #D6D6D7;
    overflow: visible;
    text-align: center;
    height: 5px;
}

/*************************************header*************************************/

.profile-header  {
    display: flex;
    flex-direction: row;
    height: 35px;
    justify-content: stretch;
}

.header-logo  {
    height:50px;
    margin-left: 25px;
    margin-right: 25px;
}

.profile-name  {
    margin-left: 25px;
    margin-right: 25px;
}

.profile-link li a {
    display: flex;
    align-self: flex-end;
    padding: 20px 20px;
    margin-left: 100%;
    margin-right: 100%;
    text-decoration: none;
    font-family: Lato,Helvetica,Arial,sans-serif;
    list-style-type:none;
}

.profile-link  {
    display: inline-flex
}

.profile-link li  {
    list-style-type:none;
}
/*************************************footer*************************************/

.profile-footer  {
    display: flex;
    flex-direction: row;
    padding-top: 30px;
}

.footer-copyright  {
    font-family: Lato,Helvetica,Arial,sans-serif;
    font-size: 0.8rem;
    margin-left: auto;
    margin-right: auto;
}

#backToTop {
    background-color: #569cd6;
    color: #D6D6D7;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 4px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: background-color .3s, 
    opacity .5s, visibility .5s;
    line-height: 40px;
    overflow: hidden;
    z-index: 999;
    display: none;
    cursor: pointer;
    font-family: Lato,Helvetica,Arial,sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
}

#backToTop:hover {
    background-color: #333;
}

#backToTop::after {
    color: #D6D6D7;
  }

/*************************************about*************************************/

.about-component  {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.about-component-frontend  {
    display: flex;
    flex-direction: column;
    justify-content: start;
    flex-grow: 1;
    align-items: center;
    order: 1;  
}

.about-component-cms  {
    display: flex;
    flex-direction: column;
    justify-content: start;
    flex-grow: 1;
    align-items: center;
    order: 3;
}

.about-component-ecommerce  {
    display: flex;
    flex-direction: column;
    justify-content: start;
    flex-grow: 1;
    align-items: center;
    order: 2;
}

.about-img  {
    height: 300px;
    border-radius: 10%;
    align-self: center;
}

.about-header  {
    font-size: 1.2rem;
    text-align: center;
    width: 80%;
}

.about-text  {
    font-size: 1rem;
    text-align: center;
    width: 80%;
}

.about-img-frontend  {
    border-radius: 10%;
    width: 300px;
    height: 300px;
    background: url("../img/frontend.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    display: inline-block;
    transition-duration: 1.5s;
}

.about-img-frontend:hover {
    background: url("../img/frontend-2.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    border-radius: 10%;
    width: 300px;
    height: 300px;
    transition-duration: 1.5s;
}

.about-img-ecommerce  {
    border-radius: 10%;
    width: 300px;
    height: 300px;
    background: url("../img/ecommerce.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    display: inline-block;
    transition-duration: 1.5s
}

.about-img-ecommerce:hover {
    background: url("../img/ecommerce-2.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    border-radius: 10%;
    width: 300px;
    height: 300px;
    transition-duration: 1.5s
}

.about-img-cms  {
    border-radius: 10%;
    width: 300px;
    height: 300px;
    background: url("../img/cms.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    display: inline-block;
    transition-duration: 1.5s
}

.about-img-cms:hover {
    background: url("../img/cms-2.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size:  100% 100%;
    border-radius: 10%;
    width: 300px;
    height: 300px;
    transition-duration: 1.5s
}
/************************************* projects *************************************/

.project-img-small  {
    width: 75%;
    border-radius: 1%;
}

.project-img-large  {
  width: 75%;
}

.projects-component  {
    display: flex;
    flex-direction: column;
}

.project-cfgi  {
    display: flex;
    flex-direction: column;
}

.project-header a  {
    font-size: 1.4em;
    text-decoration: none;
    color: #D6D6D7;
    margin-left: 2.5%;
}

.project-header a:hover  {
    font-size: 1.5em;
    margin-top: 2.5%;
}

.project-text  {
    margin-left: 2.5%;
    width: 60%;
    margin-bottom: 2.5%;
}

.third-line {
   width: 33.3%;
   align-self: center;
}

/************************************* media queries *************************************/

@media screen and (max-width: 600px) {
    .about-component  {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .projects-component  {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .text-light  {
        font-family: Lato,Helvetica,Arial,sans-serif;
        color: #D6D6D7;
        font-size: 1.6rem;
    }

    .heading-larger {
        font-size: 2.4rem;
    }

    .project-img-small  {
        height: 100px;
    }
    
    .project-img-large  {
        height: 175px;
    }

    .project-cfgi  {
        display: flex;
        flex-direction: column;
    }

    .project-header a  {
        font-size: 1.2rem;
        text-decoration: none;
        color: #D6D6D7;
        margin-left: 2.5%;
    }
    
    .project-header a:hover  {
        font-size: 1.2rem;
        margin-top: 2.5%;
    }

  }

/*********** Diagonal Slideshow ******************/

// Anime.js implementation of the Diagonal Thumbnail Slideshow Animation
// Inspired from https://tympanus.net/codrops/2020/09/01/diagonal-thumbnail-slideshow-animation/

*,
*:before,
*:after{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
html, body{
	font-family: Lato,Helvetica,Arial,sans-serif;
	line-height: 1.65;
}

$black: #202124;
$gunmetal: #22333b;
$almond: #eae0d5;
$khaki: #c6ac8f;
$umber: #5e503f;

@mixin filter{
  	position: relative;
  	-webkit-filter: contrast(110%) brightness(110%) saturate(130%);
  	filter: contrast(110%) brightness(110%) saturate(130%);
  	&::before{
    	content: "";
    	display: block;
    	height: 100%;
    	width: 100%;
    	top: 0;
    	left: 0;
    	position: absolute;
    	pointer-events: none;
    	mix-blend-mode: screen;
    	background: rgba(243, 106, 188, 0.3);
  	}
}

a{
	color: $khaki;
	text-decoration: none;
}
.slider{
	height: 100vh;
	width: 80vw;
	background-color: $black;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #D6D6D7;
	position: relative;
	overflow: hidden;
	transition: background-color 2s;
}
.slider .item .imgs{
	position: relative;
	width: 60%;
	padding-top: 60%;
	
	.grid{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		display: grid;
		grid-template-columns: repeat(12, 1fr);
		grid-template-rows: repeat(12, 1fr);
		grid-column-gap: 32px;
		grid-row-gap: 32px;
		transform: rotate(-20deg);
		opacity: 0.65;
	}
}
.slider .item{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	
	.img{
		width: 100%;
		height: 100%;
		position: relative;
		will-change: transform;
		will-change: opacity;
		
		img{
			position: absolute;
			top: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
			@include filter;
		}
	}
	.img-1{ grid-area: 1 / 1 / 7 / 5; }
	.img-2{ grid-area: 2 / 5 / 7 / 13; }
	.img-3{ grid-area: 7 / 1 / 12 / 9; }
	.img-4{ grid-area: 7 / 9 / 13 / 13; }
	
	.content{
		position: absolute;
		z-index: 2;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		line-height: 1.15;
		font-size: 4.8rem;
		font-weight: 700;
     
		
		.wrap{
			text-align: center;
			text-shadow: 1px 1px 4px rgba($black, 0.2);
			width: 100%;
			max-width: 600px;
			line-height: 1;
            text-shadow: 2px 2px #202124;
			
			.letter{ display: inline-block; }
		}
	}
}
.slider .nav{
	.next, .prev{
		height: 2rem;
		width: 2rem;
		position: absolute;
		top: calc(50% - 1rem);
		cursor: pointer;
		z-index: 3;
		transition: transform 0.3s;
	}
	.next{
        display: none;
		right: 2rem;
		background-image: url("data:image/svg+xml,%3C?xml version='1.0' encoding='utf-8'?%3E %3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='white'%3E%3Cpath d='M 19 8 L 19 11 L 1 11 L 1 13 L 19 13 L 19 16 L 23 12 L 19 8 z' fill='white'/%3E%3C/svg%3E");
		&:hover{ transform: translateX(0.5rem); }
	}
	.prev{
        display: none;
		left: 2rem;
		background-image: url("data:image/svg+xml,%3C?xml version='1.0' encoding='utf-8'?%3E %3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='white'%3E%3Cpath d='M 5 8 L 1 12 L 5 16 L 5 13 L 23 13 L 23 11 L 5 11 L 5 8 z' fill='white'/%3E%3C/svg%3E");
		&:hover{ transform: translateX(-0.5rem); }
	}
	.explore-btn{
		z-index: 4;
		position: absolute;
		bottom: 2rem;
		left: calc(50% - 4rem);
		width: 8em;
		text-align: center;
		padding: 1rem 0;
		border: solid 2px #D6D6D7;
		background: transparent;
		color: #D6D6D7;
		transition: background-color 0.3s;
		cursor: pointer;
		&:hover{
			color: $black;
			background: #D6D6D7;
		}
	}
}
.slider .item:not(.is-active){
	opacity: 0;
	pointer-events: none;
}

/************ contact form *****************/

.contact-form  {
    display: flex;
    flex-direction: column;
}

.contact-input  {
    display: flex;
    background: #D6D6D7;
    font-family: Lato, Helvetica, Arial, sans-serif;
    width:35%;
    margin-top: 0.5%;
    margin-bottom: 0.5%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 2.5px;
}

.contact-input-message  {
    display: flex;
    background: #D6D6D7;
    font-family: Lato, Helvetica, Arial, sans-serif;
    height: 25vh;
    width: 35%;
    margin-top: 0.5%;
    margin-bottom: 0.5%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 2.5px;
}


.text-contact-label {
    font-family: Lato, Helvetica, Arial, sans-serif;
    color: #D6D6D7;
    margin-left: 32.5%;
  }

.contact-submit-button  {
    font-family: Lato, Helvetica, Arial, sans-serif;
    margin-top: 1.5%;
    margin-bottom: 1.5%;
    margin-left: auto;
    margin-right: auto;
    display: table;
  }

